beautifulsoup4==4.12.2
bleach==6.0.0
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.1.0
cycler==0.11.0
docutils==0.20.1
einops==0.6.1
filelock==3.12.0
fonttools==4.40.0
fsspec==2023.5.0
huggingface-hub==0.15.1
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
Jinja2==3.1.2
joblib==1.2.0
keyring==23.13.1
kiwisolver==1.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
more-itertools==9.1.0
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pipdeptree==2.9.1
pkginfo==1.9.6
protobuf==3.20.0
psutil==5.9.5
pycparser==2.21
Pygments==2.15.1
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
readme-renderer==37.3
regex==2023.6.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.4.2
rjieba==0.1.11
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.99
six==1.16.0
soupsieve==2.4.1
sympy==1.12
threadpoolctl==3.1.0
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.30.0
twine==4.0.2
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
webencodings==0.5.1
zipp==3.15.0
